<!DOCTYPE html>
<html>

<head>
    <title>Drvaza</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <ul>
        <% country.forEach((ime)=> { %>
            <li>
                <%= ime %>
            </li>
            <% }) %>
    </ul>
    <% if (country ===="Makedonija" ) { %>
        <h2>Makedonija cCela da e</h2>
        < % } %>

</body>

</html>